<!-- <p>deleted works!</p>
<h2>Deleted Users</h2>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
    </tr>
  </tbody>
</table> -->
<div>
  <h2>Deleted Users</h2>
  <div class="users-container">
    <div
      *ngFor="let user of users"
      [ngClass]="{
        'active-user': user.isActive,
        'deleted-user': user.isDeleted
      }"
    >
      <div>{{ user.firstName }} {{ user.lastName }}</div>
      <br />
      <div>
        <button (click)="activateUser(user)" *ngIf="user.isDeleted">
          Activate
        </button>
      </div>
    </div>
  </div>
</div>
