<div class="row">
  <div class="column">
    <div>
      <div
        class="col-md-6"
        *ngFor="let user of activeUsers"
        [ngClass]="{ 'active-user': user.isActive }"
      >
        <div class="cards mb-3">
          <div class="card-body text-right">
            <h5>{{ user.firstName }} {{ user.lastName }}</h5>
            <button
              class="btn btn-info float-right"
              (click)="showDetails(user)"
            >
              Details
            </button>
          </div>
        </div>
      </div>
      <div class="users-container">
        <div
          *ngFor="let user of deletedUsers"
          [ngClass]="{
            'active-user': user.isActive,
            'deleted-user': user.isDeleted
          }"
        >
          <div class="cards mb-3">
            <div class="card-body text-right">
              <h5>{{ user.firstName }} {{ user.lastName }}</h5>
              <button
                class="btn btn-info float-right"
                (click)="showDetails(user)"
              >
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="col-md-8" *ngIf="selectedUser">
      <div class="card">
        <div class="card-header">
          <h4>
            {{ selectedUser.firstName }}{{ " " }}{{ selectedUser.lastName }}
          </h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="col-md-6">
                <p style="color: red">
                  {{ selectedUser.isDeleted ? "Deleted" : "" }}
                </p>
                <p style="color: green">
                  {{ selectedUser.isActive ? "Active" : "" }}
                </p>
              </div>
              <p>Login ID:{{ selectedUser.id }}</p>

              <p>First Name: {{ selectedUser.firstName }}</p>
              <p>Last Name: {{ selectedUser.lastName }}</p>
              <p>Age: {{ selectedUser.age }}</p>
              <p>Login: {{ selectedUser.login }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
